<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoibWV0YWxzbmFwc2hvdHRha2VyIiwibG9jYXRpb24iOnsicmVtb3RlIjpb
		Imh0dHBzOlwvXC9naXRodWIuY29tXC9nYWRpcm9tXC9NZXRhbFNuYXBzaG90
		VGFrZXIiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7
		InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMC4xLjAiLCJ1cHBlckJvdW5kIjoi
		MS4wLjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJNZXRhbFNuYXBzaG90VGFr
		ZXIgRXhhbXBsZSIsInBhY2thZ2VLaW5kIjp7InJvb3QiOnt9fSwicGxhdGZv
		cm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9zIiwidmVy
		c2lvbiI6IjE1LjIifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiTWV0YWxTbmFw
		c2hvdFRha2VyIEV4YW1wbGUiLCJzZXR0aW5ncyI6W3siZGlzcGxheVZlcnNp
		b24iOlsiMS4wIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBw
		SW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0
		Q29sb3IiOnsicmF3VmFsdWUiOiJwdXJwbGUifX19LCJhcHBJY29uIjp7InBs
		YWNlaG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJiYW5kYWdlIn19fSwi
		Y2FwYWJpbGl0aWVzIjpbXSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsi
		cGFkIiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25z
		IjpbeyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7Imxh
		bmRzY2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25k
		aXRpb24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFy
		Z2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxs
		fX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6
		W3sicHJvZHVjdCI6WyJNZXRhbFNuYXBzaG90VGFrZXIiLCJNZXRhbFNuYXBz
		aG90VGFrZXIiLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9k
		dWxlIiwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10s
		InR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNp
		ZXMiOlt7InByb2R1Y3QiOlsiTWV0YWxTbmFwc2hvdFRha2VyIiwiTWV0YWxT
		bmFwc2hvdFRha2VyIixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFw
		cE1vZHVsZSIsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3Mi
		OltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92
		ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		sgANvPJ6RkbQ1P3mluXGA+/d4I8hydr7c7ggWMQo7e8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.6.0-dev</string>
	</dict>
</dict>
</plist>
